.navbar2-wrapper {
  display: contents;
}
 
.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
 
.navbar2-image1 {
  height: 3rem;
}
 
.navbar2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar2-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar2-link11 {
  font-family: "Comfortaa";
}
 
.navbar2-link21 {
  font-family: "Comfortaa";
}
 
.navbar2-link31 {
  font-family: "Comfortaa";
}
 
.navbar2-link41 {
  font-family: "Comfortaa";
}
 
.navbar2-link51 {
  font-family: "Comfortaa";
}
 
.navbar2-burger-menu {
  display: none;
}
 
.navbar2-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar2-logo {
  height: 3rem;
}
 
.navbar2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar2-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar2-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar2-desktop-menu {
    display: none;
  }
  .navbar2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar2-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar2-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.banner3-wrapper {
  display: contents;
}
 
.banner3-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.banner3-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
 
.banner3-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.9;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #D9D9D9;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
 
.banner3-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  opacity: 1;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner3-title {
  font-style: normal;
  text-align: center;
  font-family: "Comfortaa";
  font-weight: 700;
}
 
.banner3-text1 {
  text-align: center;
  font-family: "Comfortaa";
}
 
.banner3-button {
  opacity: 1;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}

.team2-wrapper {
  display: contents;
}
 
.team2-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.team2-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team2-text10 {
  font-family: "Comfortaa";
}
 
.team2-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-text11 {
  align-self: flex-start;
  font-family: "Comfortaa";
}
 
.team2-text12 {
  align-self: flex-start;
  font-family: "Comfortaa";
}
 
.team2-content2 {
  gap: 96px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team2-content3 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.team2-row {
  gap: 48px;
  display: flex;
  max-width: 1200px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team2-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team2-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-text13 {
  align-self: flex-start;
  font-style: normal;
  font-family: "Comfortaa";
  font-weight: 600;
}
 
.team2-text14 {
  align-self: flex-start;
  font-family: "Comfortaa";
}
 
.team2-text15 {
  align-self: flex-start;
  font-family: "Comfortaa";
}
 
.team2-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team2-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-text16 {
  align-self: flex-start;
  font-style: normal;
  font-family: "Comfortaa";
  font-weight: 600;
}
 
.team2-text17 {
  align-self: flex-start;
  font-family: "Comfortaa";
}
 
.team2-text18 {
  align-self: flex-start;
  font-family: "Comfortaa";
}
 
.team2-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team2-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-text19 {
  align-self: flex-start;
  font-style: normal;
  font-family: "Comfortaa";
  font-weight: 600;
}
 
.team2-text20 {
  align-self: flex-start;
  font-family: "Comfortaa";
}
 
.team2-text21 {
  align-self: flex-start;
  font-family: "Comfortaa";
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .team2-row {
    align-items: center;
    flex-direction: row;
  }
}
 
@media(max-width: 767px) {
  .team2-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .team2-placeholder-image1 {
    height: 450px;
  }
  .team2-placeholder-image2 {
    height: 450px;
  }
  .team2-placeholder-image3 {
    height: 450px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
